In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import files
uploaded = files.upload()

Saving datasets_686_1296_catalog.csv to datasets_686_1296_catalog.csv

In [27]:
#This is a Landslide dataset in different US states and their dates
import io
df2 = pd.read_csv(io.BytesIO(uploaded['datasets_686_1296_catalog.csv']))

In [28]:
df2

        id  ...                                        source_link
0       34  ...      http://www.nbc4.com/news/11186871/detail.html
1       42  ...  http://www.cantonrep.com/index.php?ID=345054&C...
2       56  ...  https://web.archive.org/web/20080423132842/htt...
3       59  ...  http://www.hebdos.net/lsc/edition162007/articl...
4       61  ...                                                NaN
...    ...  ...                                                ...
1688  7535  ...  http://www.tryondailybulletin.com/2016/02/26/u...
1689  7537  ...  http://www.wvgazettemail.com/news/20160222/us-...
1690  7539  ...  http://www.bdtonline.com/news/officials-cautio...
1691  7540  ...  http://www.bdtonline.com/news/rockslide-snarls...
1692  7541  ...  http://www.vnews.com/home/21353539-95/loose-ledge

[1693 rows x 23 columns]

In [29]:
df2['date']

0        3/2/07
1       3/22/07
2        4/6/07
3       4/14/07
4       4/15/07
         ...
1688    12/7/15
1689    2/22/16
1690    2/23/16
1691    2/26/16
1692     3/2/16
Name: date, Length: 1693, dtype: object

In [30]:
df2['date'].dtype

dtype('O')

In [31]:
df2['date_parsed'] = pd.to_datetime(df2['date'], format = "%m/%d/%y")

In [32]:
df2['date_parsed']

0      2007-03-02
1      2007-03-22
2      2007-04-06
3      2007-04-14
4      2007-04-15
          ...
1688   2015-12-07
1689   2016-02-22
1690   2016-02-23
1691   2016-02-26
1692   2016-03-02
Name: date_parsed, Length: 1693, dtype: datetime64[ns]

In [33]:
#this function can help us identify which columns are of the datetime format
for col in df2.columns:
    if df2[col].dtype == 'object':
        try:
            df2[col] = pd.to_datetime(df2[col])
        except ValueError:
            pass

In [34]:
df2.dtypes

id                               int64
date                    datetime64[ns]
time                            object
continent_code                  object
country_name                    object
country_code                    object
state/province                  object
population                       int64
city/town                       object
distance                       float64
location_description            object
latitude                       float64
longitude                      float64
geolocation                     object
hazard_type                     object
landslide_type                  object
landslide_size                  object
trigger                         object
storm_name                      object
injuries                       float64
fatalities                     float64
source_name                     object
source_link                     object
date_parsed             datetime64[ns]
dtype: object

In [35]:
#Since the dataset has only 1 date column, I have added dummy dates that fits the entire dataframe length
date1=pd.Series(pd.date_range('2007-01-23',periods=1693,freq='D'))

In [39]:
date1=pd.DataFrame({'Dummydate': date1})

In [40]:
df2=df2.join(date1)

In [41]:
df2

        id       date  ... date_parsed  Dummydate
0       34 2007-03-02  ...  2007-03-02 2007-01-23
1       42 2007-03-22  ...  2007-03-22 2007-01-24
2       56 2007-04-06  ...  2007-04-06 2007-01-25
3       59 2007-04-14  ...  2007-04-14 2007-01-26
4       61 2007-04-15  ...  2007-04-15 2007-01-27
...    ...        ...  ...         ...        ...
1688  7535 2015-12-07  ...  2015-12-07 2011-09-07
1689  7537 2016-02-22  ...  2016-02-22 2011-09-08
1690  7539 2016-02-23  ...  2016-02-23 2011-09-09
1691  7540 2016-02-26  ...  2016-02-26 2011-09-10
1692  7541 2016-03-02  ...  2016-03-02 2011-09-11

[1693 rows x 25 columns]

In [44]:
#this code has a separate column Difference that finds difference between two dates
df2['Difference'] = df2['date_parsed'].sub(df2['Dummydate'], axis=0)
df2['Difference'] = df2['Difference'] / np.timedelta64(1, 'D')
df2

        id       date   time  ... date_parsed  Dummydate Difference
0       34 2007-03-02  Night  ...  2007-03-02 2007-01-23       38.0
1       42 2007-03-22    NaN  ...  2007-03-22 2007-01-24       57.0
2       56 2007-04-06    NaN  ...  2007-04-06 2007-01-25       71.0
3       59 2007-04-14    NaN  ...  2007-04-14 2007-01-26       78.0
4       61 2007-04-15    NaN  ...  2007-04-15 2007-01-27       78.0
...    ...        ...    ...  ...         ...        ...        ...
1688  7535 2015-12-07    NaN  ...  2015-12-07 2011-09-07     1552.0
1689  7537 2016-02-22   0:00  ...  2016-02-22 2011-09-08     1628.0
1690  7539 2016-02-23    NaN  ...  2016-02-23 2011-09-09     1628.0
1691  7540 2016-02-26  21:06  ...  2016-02-26 2011-09-10     1630.0
1692  7541 2016-03-02   8:00  ...  2016-03-02 2011-09-11     1634.0

[1693 rows x 26 columns]

In [46]:
df2=df2.drop('date',1)

In [47]:
# This function serves the purpose of deleting columns having correlation greater than 0.85
def correlation(dataset, threshold):
    col_corr = set() # Set of all the names of deleted columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if (corr_matrix.iloc[i, j] >= threshold) and (corr_matrix.columns[j] not in col_corr):
                colname = corr_matrix.columns[i] # getting the name of column
                col_corr.add(colname)
                if colname in dataset.columns:
                    del dataset[colname] # deleting the column from the dataset

    print(dataset)

In [48]:
correlation(df2,0.85)

        id   time  ... date_parsed  Dummydate
0       34  Night  ...  2007-03-02 2007-01-23
1       42    NaN  ...  2007-03-22 2007-01-24
2       56    NaN  ...  2007-04-06 2007-01-25
3       59    NaN  ...  2007-04-14 2007-01-26
4       61    NaN  ...  2007-04-15 2007-01-27
...    ...    ...  ...         ...        ...
1688  7535    NaN  ...  2015-12-07 2011-09-07
1689  7537   0:00  ...  2016-02-22 2011-09-08
1690  7539    NaN  ...  2016-02-23 2011-09-09
1691  7540  21:06  ...  2016-02-26 2011-09-10
1692  7541   8:00  ...  2016-03-02 2011-09-11

[1693 rows x 24 columns]